.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align: center;
}

.login-btn{
  background: blue;
    color: #fff;
    padding: 5px 22px;
}

.searchplanet{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.planetdetails{
  border: 1px solid blue;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.planet-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  margin-right: 10px;
}

.population {
  cursor: help;
}
.planetSearch{
  text-align: center;
}
.nameP{
  display: flex;
    justify-content: center;
}
.populationData{
  display: flex;
    justify-content: center;
}


h3{
  text-align: center;
}
.heading_table{
  background: #7878b2;
    text-align: left;
}
.title_table{
  width: 80%;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
.no-data{
  text-align: center;
}
h2{
  text-align: center;
}
.planet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameP {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.name,
.population {
  flex: 1;
  text-align: center;
}

.population {
  cursor: help;
}
